<!DOCTYPE html>
<%- include('./component/head.ejs')%>
  <body>
    <%- include('./component/nav.ejs')%>
    <div class=" about content">
      <h1>About</h1>
      <p>Our group is three people group named <strong>WhatTheHell!</strong> .<br>
        Project is about Pet-Grooming service shop!<br>
      This app is basically for CURD operations only for customer appointments, created with nodejs,Express Framework and ejs.<br>
       Database is with MySQL.</p>
       <div><p>
         To get <strong>JSON</strong> customers table's data ,type <strong>/customers</strong>  in url.
         <br>
         You can test my RestApi for this service. 
       </p><br><h3>Have fun coding!!🤗</h3></div>

    </div>
    <%- include('./component/footer.ejs')%>
  </body>
</html>
